{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-console": "warn",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-const": "error",
    "indent": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-props-per-line": ["error", { "maximum": 3 }],
    "semi": ["error", "always"],
    "eol-last": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"]
    
  }
}