@import '../../utils/vars';

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $first-color;
  border-radius: 30px;
  position: relative;

  &__title {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: $second-color;
  }

  &__error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    font-size: 20px;
    color: $fourth-color;
  }

  &__input {
    border: none;
    outline: none;
    border-radius: 15px;
    width: 500px;
    padding: 10px 15px;
    margin-bottom: 30px;
    font-size: 22px;
    
  }

  &__button {
    width: max-content;
    margin: 0 auto;
    padding: 10px 75px;
    border: none;
    border-radius: 15px;
    background-color: $second-color;
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}